.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 80px;

}
.text{
  flex: 0 1 510px;
}
.heading{
  padding-right: 4%;
}
.description{
  margin: 20px 0 40px;
  padding-right: 25%;
}


.statistic{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.item{
  flex: 0 1 150px;
}
.hero__count{

}