.wrapper{

}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.text{
  text-align: left;
  text-transform: capitalize;
}
.heading{
  padding-bottom: .3em;
}
.desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}