@import "../../../assets/styles/vars";
.wrapper{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo{
  >img{
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
.link{
  vertical-align: middle;
  font-weight: 600;
}
.dropdownButton{
  display: none;
  background: none;
  border: none;
}
.menuVisible{
  width: 100%;
  min-height: 50vh;
  overflow: auto;
}
@media screen and (max-width: 830px){
  .dropdownButton{
    display: flex;
  }
  .menu{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 999;
    left: -150vw;
    top: 70px;
    padding-top: 10px;
    background: transparentize($bg, 0.1);
    transition: 0.5s;
    flex-direction: column;
  }
  .menuVisible{
    pointer-events: all;

    opacity: 1;
    display: flex;
    left: 0;
  }
}