$bg: #2B2B2B;
$bg-secondary: #3B3B3B;
$caption: #858584;
$text: #FFFFFF;
$action: #A259FF;
$danger: #ff5555;
$gradient-1:linear-gradient(100.92deg, #A259FF 13.57%, #FF6250 97.65%);
$gradient-2:linear-gradient(128.15deg, #A259FF 49.75%, #377DF7 136.56%);
